@media (prefers-color-scheme: light) {
  :root {
    --background-color: #d0d0d0;
    --text-color: #333;
  }
  html {
    color-scheme: light;
    color: var(--text-color);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #555;
    --text-color: #d0d0d0;
  }
  html {
    color-scheme: dark;
    color: var(--text-color);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  color: var(--text-color);
}