.nameContainer {
  display: flex;
  align-items: baseline;
}

.nameContainer h1 {
  margin-right: 8px;
}

.list {
  list-style: none;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}