.container {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 16px;
  color: whitesmoke;
}

.container img {
  height: 100px;
  width: auto;
  margin-right: 16px;
}

.container h3 {
  margin-bottom: 6px;
}

.infoContainer {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}